* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
}
.box {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  position: relative
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.number {
  text-align: center;
  line-height: 100px;
}
.genera {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.none {
  display: none;
}
